.div {
    display: block;
}

.div label {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 20px;
}

.div input {
    font-size: 14px;
    margin-left: 10px;
}

.div text {
    margin-left: 5px;
    font-size: 16px;
}